*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
*:after,*:before{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html {
    font-size: 62.5%;

}

body{
    font-size: 1.6rem;
    font-weight: 400;
 
    font-family: Lato, sans-serif;
    color:#555;
}

 
.nav{
    max-width: 130rem;
    padding: 0 16rem;
    margin: 2rem auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:10rem;

}
.heading-primary{
    padding-left:2rem;
}
.book{
    display:inline-block;
    padding-left:.4rem;

}
.link{
    text-decoration: none;
    color:inherit;
}
.list{
    display:flex;
    gap:3rem;
}
.items{
    list-style:none;
    font-weight: 500;
    font-size:2.4rem;
}
        

/*  section form */
.main{
    max-width:64rem; 
    padding: 0 2rem;  
    margin:0 auto;
  
    
}
 
.form__content{
    width:100%;
    position: relative;
   
 
}
.form-label{
    display:block;
    margin:1rem;
    font-size:2.4rem;

}
.form__input{
    display:block;
    width:100%;
}
.form-input{
   display:block;
   width:100%;
   padding:2rem;
   border:none;
   background-color:#f3f6f6;
   font-size:1.6rem;
   color:inherit;
   font-family:inherit;
   margin-bottom:1rem;
}
 
.btn{
     
    padding:1rem 2rem;
    color:#fff;
    background-color:rgb(0, 140, 255);
    border-radius:3rem;
    border:none;
    display:block;
    margin-top:2rem;
    position:absolute;
    right:1rem;
     
     
    /* transform:translate(0%,0%); */
}
.section-stories{
    
    margin-top:12.8rem;
}
 
 
.heading-secondary{
    font-size: 1.8rem;
    
}
.time{
    color:#777;
}
.story-text{
    margin-top: 1rem;
    font-size: 1.6rem;
    width:40rem;
}
.section-footer{
    background-color:#333;
    margin-top:25rem;
   

}
.footer-content{
    display:flex;
    gap:8rem;
    padding:2rem;
    margin:0 auto;
    max-width: 64rem;

}

.left,.right,.footer__column{
    display:flex;
    flex-direction:column;
    gap:1rem;
    font-size:1.6rem;
    font-weight: 500;
}
 
.footer__item{
    text-decoration: none;
    color:#fff;
}